body{
    padding: 0;
    margin:0;
    font-family:sans-serif;
    background-image: url("img/bmw_k100_motorcycle_bike_123991_3840x2400.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
 .landing-page{
     text-align:center;
     justify-content: center;
     height:100%;
     padding-top:60px;
     padding-bottom:25px;
 }
 .landing-page h2{
      font-size:26px;
      text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5),
      -5px -5px 2px rgba(255, 255, 255, 0.5);

 }

 .landing-page img{
    text-align:center;
    justify-content: center;
    margin-left:250px;
    padding-top: 60px;
    height:50%;
    width:50%;
 }
 .landing-page a button{
    text-align:center;
    justify-content: center;
    position:relative;
    top:50px;
    right:465px;
    color:#fff;
    font-size:18px;
    font-weight:bolder;
    background-color:rgb(39,199,39);
    border:1.5px solid #fff;
    height:40px;
    width:200px;
    box-shadow: 6px 6px 2px rgba(255, 255, 255, 0.5),
             -6px -6px 2px rgba(0, 0, 0, 0.5);
 }
 .landing-page a button:hover{
      color:#000;
      background-color:green;
      box-shadow: inset 6px 6px 2px rgba(255, 255, 255, 0.5),
                inset -6px -6px 2px rgba(0, 0, 0, 0.5);
      cursor:pointer;
 }
 